Source: laurux
Section: x11
Priority: optional
Maintainer: Freddy Frouin <freddy@linuxtribe.fr>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.laurux.fr
#Vcs-Git: git://git.debian.org/collab-maint/laurux.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/laurux.git;a=summary

Package: laurux
Architecture: all
Depends: gambas3-runtime, ${shlibs:Depends}, ${misc:Depends}
Description: Laurux Package for Debian
